    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwindoutput.css">
    <title>Order Details</title>
    <style>
        body {
            background-color: #0F172B;
            color: white;
        }

        .qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}

.wrapper{
  height: 265px;
  max-width: 410px;
  background: #fff;
  color: black;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.wrapper.active{
  height: 530px;
}
header h1{
  font-size: 21px;
  font-weight: 500;
}
header p{
  margin-top: 5px;
  color: #575757;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px;
}


    </style>
</head>
<body>
    <div class="mainBox">

        <div class="mainBox1">

            <div class="heading">
                <h1 class="text-center text-yellow-400 font-bold text-4xl p-10 bg-gradient-to-r from-blue-500 to-purple-500">Order Summary</h1>
            </div>

        <div class="overflow-x-auto relative">
            <table class="w-full text-sm text-left text-gra-500 dark:text-gra-400 bgo-gradient-to-r from-blue-500 to-purple-500">
                <thead class="text-xs text-gra-700 uppercase bgo-gray-100 dark:bgo-gray-700 dark:text-gra-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            ORDER ID
                        </th>
                        <th scope="col" class="py-3 px-6">
                          <%= orderDetails._id%>
                        </th>
                  
                </thead>
                <tbody>
                    <tr class="bgo-white dark:bgo-gray-800">
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                            ORDER STATUS
                        </th>
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                          <%= orderDetails.orderStatus%>
                        </th>
                    </tr>
                    <tr class="bgo-white dark:bgo-gray-800">
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                            PAYMENT STATUS
                        </th>
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                          <%= orderDetails.paymentStatus%>
                        </th>
                    </tr>
                    <tr class="bgo-white dark:bgo-gray-800">
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                            TIME WHEN ORDER PLACED
                        </th>
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                          <%= orderDetails.timeWhenOrderPlaced%>
                        </th>
                    </tr>
                    <tr class="bgo-white dark:bgo-gray-800">
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                            USER EMAIL
                        </th>
                        <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                          <%= orderDetails.userEmail%>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        
<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gra-500 dark:text-gra-400">
        <thead class="text-xs text-gra-700 uppercase bgo-gray-100 dark:bgo-gray-700 dark:text-gra-400">
            <tr>
                <th scope="col" class="py-3 px-6 ">
                    Product Name
                </th>
                <th scope="col" class="py-3 px-6">
                    Product Menu
                </th>
                <th scope="col" class="py-3 px-6">
                    Qty
                </th>
                <th scope="col" class="py-3 px-6">
                    Price
                </th>
                <th scope="col" class="py-3 px-6">
                    Sub Total
                </th>
            </tr>
        </thead>
        <tbody>
          <% for(let i=0; i< orderDetails.allItems.length; i++){ %> 
            <tr class="bgo-white dark:bgo-gray-800">
                <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                  <%= orderDetails.allItems[i].t %>
                </th>
                <th scope="row" class="py-4 px-6 font-medium text-gra-900 whitespace-nowrap dark:text-blue-900">
                  <%= orderDetails.allItems[i].m %>
                </th>
                <td class="py-4 px-6 text-left">
                  <%= orderDetails.allItems[i].q %>
                </td>
                <td class="py-4 px-6 text-left">
                  <%= orderDetails.allItems[i].p %>
                </td>
                <td class="py-4 px-6 text-left">
                  <%= orderDetails.allItems[i].p *  orderDetails.allItems[i].q %>
                </td>
            </tr>
            <%}%>
        </tbody>
        <tfoot>
            <tr class="font-bold bgoo-slate-700 text-blue-900">
                <th scope="row" class="py-3 px-6 text-base">Total</th>
                <td></td>
                <td class="py-3 px-6">__</td>
                <td></td>
                <td class="py-3 px-6"><%= orderDetails.totalAmount%> </td>
                
            </tr>
        </tfoot>
    </table>
</div>
</div>

    <div class="wrapper">
      <header>
        <h1>QR Code Generator</h1>
        <p>Paste a url or enter text to create QR code</p>
      </header>
      <div class="form">
        <input type="text" spellcheck="false" placeholder="Enter text or url" value=" <%= orderDetails._id%>">
        <button>Generate QR Code</button>
      </div>
      <div class="qr-code">
        <img src="" alt="qr-code">
      </div>
    </div>
    
    <script>
const wrapper = document.querySelector(".wrapper"),
qrInput = wrapper.querySelector(".form input"),
generateBtn = wrapper.querySelector(".form button"),
qrImg = wrapper.querySelector(".qr-code img");
let preValue;

generateBtn.addEventListener("click", () => {
    let qrValue = qrInput.value.trim();
    if(!qrValue || preValue === qrValue) return;
    preValue = qrValue;
    generateBtn.innerText = "Generating QR Code...";
    qrImg.src = `https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=${qrValue}`;
    qrImg.addEventListener("load", () => {
        wrapper.classList.add("active");
        generateBtn.innerText = "Generate QR Code";
    });
});

qrInput.addEventListener("keyup", () => {
    if(!qrInput.value.trim()) {
        wrapper.classList.remove("active");
        preValue = "";
    }
});
    </script>

</body>
</html>