<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- HEADER PART FOR EVERY PAGE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
   
   
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
     <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Update profile | My Canteen</title>
        <link rel="icon" href="logoForMeal.png">
        <link rel="stylesheet" href="profile.css">
    </head>
<body class="d-flex flex-column h-100">
    <div class="container form-signin mt-5 localbyme">
        
        <form method="POST" action="/profile/<%=user._id%>" class="form-floating">
            <h2 class="mt-4 mb-3 fw-normal text-bold text-center"><i class="bi bi-pencil-square me-2"></i>My Profile</h2>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" value="<%=user.firstname%>" required="">
                <label for="firstname">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" value="<%=user.lastname%>" name="lastname" required="">
                <label for="lastname">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input disabled type="email" class="form-control" id="email" placeholder="E-mail" name="email" value="<%=user._id%>" required="">
                <label for="email">E-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="phone" class="form-control" id="phone" placeholder="Phone" name="phone" value="<%=user.phone%>" required="">
                <label for="phone">Phone No.</label>
            </div>
        
            
            <button class="w-100 btn btn-success mb-3" name="upd_confirm" type="submit">Update Profile</button>
        </form>
        <form action="/logout" method="get">
            <button class="w-100 btn btn-success mb-3" name="upd_confirm" type="submit">Log Out</button>
        </form>
    </div>
</body>
</html>